services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: eluldb
      POSTGRES_USER: eluluser
      POSTGRES_PASSWORD: q1w2e3r4t5
      volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data:
